<section class="section brd-btm" id="publications">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">Publications</h2>

            <div class="ref-box hreview">
                <div class="ref-info">
                    <div class="ref-author">
                        <span><strong>Jin J</strong>, Yuan J, Tao M. Influence of Mental Health Status before Examination on Study Attention and Test Scores for Medical Students. Clinical Education of General Practice. 2019, 017(005):397-400.</span>
                    </div>
                    
                    <div class="ref-author">
                        <span><strong>Jin J</strong>, Tao M, He KL. Research Progress on Event-related Potentials in Patients with Autism Spectrum Disorder. Journal of Clinical Medicine. 2019,21(3):432-435.</span>
                    </div>
                    
                    <div class="ref-author">
                        <span><strong>Jin J</strong>, Tao M. Correlation between Visual and Audio Integration Test and Cortical Transmission and Response Characteristics in ADHD. Journal of Clinical Medicine. 2019,21(11):1515-1517.</span>
                    </div>

                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
