<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">Education</h2>

            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                    <img alt="" src="{{ '/styles/img/school.jpg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>Zhejiang Chinese Medical University | Sep. 2016 -- Jue. 2019</strong>
                        <span>Master of Medicine, Mental Health and Psychiatry</span>
                    </div>
                    
                    <div class="ref-author">
                        <strong>SWPS University of Social Sciences and Humanities | Sep. 2018 -- Feb. 2019</strong>
                        <span>Psychology, Erasmus+ Exchange Program, Received European Scholarship</span>
                    </div>
                    
                    <div class="ref-author">
                        <strong>North China University of Science and Technology | Sep. 2010 -- Jue. 2015</strong>
                        <span>Bachelor of Medicine, Clinical Medicine</span>
                    </div>

                </div>
            </div><!-- .ref-box -->
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
