<section class="section brd-btm" id="basic_info">
    <div class="row">
        <div class="col-sm-6 clear-mrg">
            <h2 class="title-thin text-muted">Essential Information</h2>

            <dl class="dl-horizontal clear-mrg">
                <dt class="text-upper">Gender</dt>
                <dd>female</dd>

                <dt class="text-upper">date of birth</dt>
                <dd>Nov. 1991</dd>

                <dt class="text-upper">e-mail</dt>
                <dd><a href="mailto:nina1204@126.com">kli@live.com</a></dd>

                <dt class="text-upper">NCRE</dt>
                <dd>一级</dd>
                
            </dl>
        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->
